body {
  font-family: "DM Sans", sans-serif;
}

.header,
.footer {
  background: rgba(255, 113, 67, 0.27);
  padding: 38px 0 48px;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

.header_flex,
.footer_flex,
.about,
.subscribe,
.plan_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_li {
  display: inline-block;
}

.nav_li:not(:first-of-type) {
  margin-left: 50px;
}

.nav_link {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  color: #696871;
  text-decoration: none;
}

.nav_link:hover {
  color: #000;
  transition: 300ms;
}

.button {
  width: 212px;
  height: 60px;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button_orange {
  background: #ff7143;
}

.button_orange:hover {
  background: #e65626;
  transition: 500ms;
}

.about {
  margin: 104px auto 86px;
}

.about_title {
  font-weight: bold;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.50105px;
  color: #19191b;
  max-width: 468px;
  margin-bottom: 30px;
}

.about_text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
  max-width: 464px;
  margin-bottom: 50px;
}

.button_purple {
  background: #5454d4;
}

.button_purple:hover {
  background: #3a3ad4;
  transition: 500ms;
}

.button_white {
  color: #5454d4;
  border: 1px solid #5454d4;
  background: none;
  margin-left: 36px;
}

.subscribe {
  margin-bottom: 84px;
}

.subscribe_title {
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
  color: #19191b;
  margin-bottom: 38px;
}

.input {
  width: 302px;
  height: 60px;
  border: 1px solid #7087ff;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 14px;
  margin-right: 36px;
}

.input::placeholder,
.input {
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #000000;
}

.input:focus {
  outline: none;
}

.plan {
  margin-bottom: 132px;
}

.plan_title {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  color: #19191b;
  max-width: 504px;
  margin-bottom: 110px;
}

.item {
  width: 330px;
  background: #f8f8f8;
  border-radius: 10px;
  text-align: center;
  padding: 34px 0 28px;
}

.item:hover {
  background: #ff7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
  transition: 500ms;
}

.item_text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.562737px;
  color: #696871;
}

.item_title {
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  letter-spacing: -1.03448px;
  color: #1d293f;
  margin: 22px 0 28px;
}

.item_title span {
  font-size: 28px;
}

.item_li {
  list-style: none;
  font-weight: normal;
  font-size: 17px;
  line-height: 50px;
  letter-spacing: -0.531474px;
  color: #696871;
}

.item:hover .item_text,
.item:hover .item_title,
.item:hover .item_li {
  color: #ffffff;
  transition: 500ms;
}

.button_item {
  width: 285px;
  background: #ffffff;
  border: 1px solid #eae9f2;
  color: #5454d4;
  margin-top: 36px;
}

.item:hover .button_item {
  background: #9f3919;
  color: #ffffff;
  border: none;
  transition: 500ms;
}
